# Description items
# -----------------

# train --> folder created by tensorflow
# structured_data_classifier --> folder created by autokeras

.DS_Store
*checkpoint.ipynb
tensile_strength.csv
__pycache__
*.idea
dataset1.csv
dataset2.csv
volts.csv
slip_data.csv
slip_data_full.csv
structured_data_classifier
train
